In [1]:
import numpy as np
import pandas as pd
import time
import plotly.express as px
import json

## Finding the LCS

In [2]:
# np.random.seed(42)

class Sequence():
    def __init__(self, length, char):
        self.length = length
        self.char = char
        
    def generate_sequence(self):
        """generate a random sequence of size self.length
        with the self.char characters"""
        return np.random.choice(list(self.char), size=self.length)
                
def find_lcs(X, Y):
    m = len(X)
    n = len(Y)
    T = np.empty((m+1, n+1), dtype=int)
    T[:] = 999

    for i in range(m+1):
        for j in range(n+1):
            if i == 0 or j == 0:
                T[i][j] = 0
            elif X[i-1] == Y[j-1]:
                T[i][j] = T[i-1][j-1] + 1
            else:
                T[i][j] = np.maximum(T[i-1][j], T[i][j-1])
    df_T = pd.DataFrame(T, columns=np.concatenate([[999], Y]), index=np.concatenate([[999], X]), dtype=int)

    index = T[m][n]
    lcs = np.repeat("", index)

    i, j = m, n
    while i > 0 and j > 0:
        if X[i-1] == Y[j-1]:
            lcs[index-1] = X[i-1]
            i -= 1
            j -= 1
            index -= 1
        elif T[i-1][j] > T[i][j-1]:
            i -= 1
        else:
            j -= 1
    display(df_T)
    return lcs
                
char = ["A", "C", "T", "G"]
nb_char = len(np.unique(char))
X = Sequence(8, char).generate_sequence()
Y = Sequence(8, char).generate_sequence()
s = time.time()
for _ in range(1):
    display(find_lcs(X, Y))
print(f"Time taken: {round(time.time() - s, 2)}s")

     999  C  C  T  T  C  G  T  A
999    0  0  0  0  0  0  0  0  0
A      0  0  0  0  0  0  0  0  1
C      0  1  1  1  1  1  1  1  1
C      0  1  2  2  2  2  2  2  2
A      0  1  2  2  2  2  2  2  3
G      0  1  2  2  2  2  3  3  3
G      0  1  2  2  2  2  3  3  3
G      0  1  2  2  2  2  3  3  3
C      0  1  2  2  2  3  3  3  3

array(['C', 'C', 'C'], dtype='<U1')

Time taken: 0.02s

# Save data to json

In [ ]:
length_LCS =  []
seq_length = len(find_lcs(X, Y))
time_start = time.time()    
# for _ in range(200):
#     my_sequence = Sequence(seq_length, char)
#     seq1 = my_sequence.generate_sequence()
#     seq2 = my_sequence.generate_sequence()

#     length_LCS.append(find_lcs(seq1, seq2))

time_end = time.time()    
print(f"Time taken: {round(time_end - time_start, 2)}s")


lcs_data = {
        "nb characters": nb_char,
        "sequence length": seq_length,
        "length LCS": length_LCS,
}


def add_data():
    # read from json
    with open("lcs_data.json", "r") as f:
        data = json.load(f)
    # check if this type of sequence already exists in json file
    for item in data:
        if item["nb characters"] == lcs_data["nb characters"] and item["sequence length"] == lcs_data["sequence length"]:
            item["length LCS"] += length_LCS
            return data
    data.append(lcs_data)
    return data

data = add_data()

# write data to json file
with open("lcs_data.json", "w") as f:
    json.dump(data, f, indent=4)
        
# data

# Visualisation